     
    body{

      font-family:'Roboto', arial;
      
    }
    .search-bar{
        display: block;
      }

    .thumbnail{
        width:100%;
        display: block;
        
    }

    .video-title{
        margin-top: 0px;
        width: 100%;
      }
    .video-stats, .video-author {
        width: 100%;
      }

    .video-profile{
        margin-top: 12px;
        vertical-align: top;
        width: 36px;
        border-radius: 36px;
        display: inline-block;
      }

    .video{
        display: inline-block;
        width: 337.800px;
        vertical-align: top;
      }

    .channel-details{
        display: block;

      }

    .video-image{
        display: inline-block;
        
      }

    .video-details{
        display: inline-block;
        width: 289.00px;
      }

    

     